.page-header {
	text-align: center;
	font-family: 'Comic Sans MS';
}

h3 {
	text-align: center;
	font-size: 16px;

}

#meal-price {
	width: 60px;	
}

#tax-rate {
	width: 30px;
}

#tip-percent {
	width: 30px;
}

.table-text {
	text-align: right;
}

.super{

	font-family: 'Comic Sans MS';
	margin-right: 20px;
	width: 300px;
	position: relative;
	left:300px;
	border: 1px solid black;
	border-collapse: collapse;
	display: 'block';
	float: left;
	padding: 0;
	margin-top: 0;
}

.sub {
	font-family: 'Comic Sans MS';
	margin-right: 20px;
	width: 300px;
	position: relative;
	left:300px;
	border: 1px solid black;
	border-collapse: collapse;
	display: 'block';
/* 	float: bottom; */
	margin-bottom: 20px;
	padding: 0;
}

.table-header {
	border: 1px solid black;
	border-collapse: collapse;
	display: 'inline-block';

}

td {
	height: 35px;
	padding-right: 10px;

	
}


#submission-row {
	text-align: center;
}

#reset {
	position: relative;
	left:1000px;
	text-align: right;
}